img {
  float: left;
}

body {
  background-color: #F9F7EA;
}

h1 {
  font-family: 'Lato', sans-serif;
  color: #7CBCAE;
  text-align: center;
}

h2 {
  font-family: 'Lato', sans-serif;
  color: #7CBCAE;
  text-align: center;
  text-transform: uppercase;
}

p {
    font-family: 'Roboto', sans-serif;
}

.sidebar {
  width: 30%;
  float: right;
  background-color: white;
}

.column {
  width: 300px;
  float: left;
}
