body {
  background-color: #F9F7EA;
}

h1 {
  font-family: 'Lato', sans-serif;
  color: #7CBCAE;
  text-align: center;
}

h2 {
  font-family: 'Lato', sans-serif;
  color: #7CBCAE;
  text-align: center;
  text-transform: uppercase;
}

p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.jumbotron {
  background-color: #white;
  border: 1px solid #7CBCAE;
  border-radius: 4px;
}

.well {
  background-color: #white;
  border-color: #7CBCAE;
}
